<nav
  class="navbar navbar-expand-lg navbar-dark bg-transparent position-absolute top-0 start-0 w-100 z-3 px-4 py-2"
>
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center mb-2" href="#">
      <img src="assets/ubik.png" alt="Logo" class="logo-img me-2" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbarLogin"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleMenu()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Contenido colapsable (form login) -->
    <div
      #navbarCollapse
      class="collapse navbar-collapse justify-content-end"
      id="navbarLogin"
    >
      <form
        [formGroup]="loginForm"
        class="d-flex flex-column flex-lg-row align-items-center gap-2 gap-lg-3 mt-3 mt-lg-0"
        (ngSubmit)="onLogin()"
        novalidate
      >
        <input
          type="email"
          formControlName="email"
          class="form-control form-control-sm bg-light bg-opacity-25 text-white border-white"
          placeholder="Correo"
          required
        />

        <input
          type="password"
          formControlName="password"
          class="form-control form-control-sm bg-light bg-opacity-25 text-white border-white"
          placeholder="Contraseña"
          required
        />

        <div class="d-flex gap-2">
          <button
            type="submit"
            class="btn btn-outline-light btn-sm"
            [disabled]="loginForm.invalid"
          >
            Entrar
          </button>
          <button
            type="button"
            class="btn btn-outline-light btn-sm"
            (click)="onRegister()"
          >
            Registrarme
          </button>
        </div>
      </form>
    </div>
  </div>
</nav>
