/* Responsive fixes */
@media (max-width: 768px) {
  table {
    display: none;
  }

  .card {
    border-radius: 15px;
    border: 1px solid #ddd;
  }

  .card .card-title {
    font-weight: 600;
  }

  .card .card-text {
    margin-bottom: 5px;
  }

  .modal-dialog {
    margin: 1rem;
  }
  .container {
    margin-top: 5rem !important;
  }
}

/* Botones */
.btn i {
  vertical-align: middle;
}
