/* Desktop: margen a la izquierda para que el contenido no quede detrás del sidebar */
@media (min-width: 768px) {
  .content-main {
    margin-left: 240px;
    margin-top: 0;
width: 347px;
  }
}

/* Móvil: margen arriba para que el contenido no quede debajo del sidebar mobile */
@media (max-width: 767px) {
  .content-main {
    margin-top: 56px; /* altura aproximada del sidebar mobile */
    margin-left: 0;
    width: 347px;
  }
}
